{% extends 'expensetracker/base.html' %}


{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
{% endblock %}


{% block title %} {{ title }}  {% endblock %}


{% block content %}
<div class="w-full md:h-full flex flex-col justify-center">
    <h1 class="mb-5 text-center p-5 text-3xl text-emerald-600 font-semibold">Analytics</h1>

    <div class="w-5/6 mx-auto flex flex-col md:flex-row gap-12 ">

        <div class="md:w-1/2 bg-emerald-800 rounded-3xl">
            <canvas id="income-container"></canvas>
        </div>

        <div class="md:w-1/2 bg-red-500 rounded-3xl">
            <canvas id="expense-container"></canvas>
        </div>
        
    </div>

</div>
{% endblock %}


{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        
        // Fetch data from your Django backend
        fetch('/expensetracker/analytics-data/')
            .then((response) => response.json())
            .then((data) => {
                Chart.defaults.color = '#000'
                Chart.defaults.font.size = 12

                /* Income Analytics graph */
                var income_ctx = document.getElementById('income-container');
                var income_data = {
                    labels: data.income_category_labels,
                    datasets: [{
                        label: 'Income In Basis of Categories',
                        data: data.income_category_totals,
                        fill: true,
                        backgroundColor: 'rgba(21, 128, 61, 0.2)',
                        borderColor: 'rgb(21, 128, 61)',
                        pointBackgroundColor: 'rgb(21, 128, 61)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#000',
                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                    }]
                };
                var income_config = {
                        type: 'radar',
                        data: income_data,
                        options: {
                            elements: {
                                line: {
                                    borderWidth: 3
                                }
                            },
                            scale: {
                                r: {
                                    angleLines: {
                                        display: false
                                    },
                                    suggestedMin: 50,
                                    suggestedMax: 100,
                                    pointLabels: { // This section controls the font for the category labels
                                        font: {
                                            weight: 'light'
                                        },
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    display: true,
                                    labels: {
                                        color: '#000',
                                        font: {
                                            size: 16,
                                            weight: 'bold'
                                        }
                                    } 
                                }
                            },
                        },
                    };
                var myChart = new Chart(income_ctx, income_config);


                /* Expense Analytics graph */
                var expense_ctx = document.getElementById('expense-container');
                var expense_data = {
                    labels: data.expense_category_labels,
                    datasets: [{
                        label: 'Expense In Basis of Categories',
                        data: data.expense_category_totals,
                        fill: true,
                        backgroundColor: 'rgba(153, 27, 27, .2)',
                        borderColor: 'rgb(153 27 27)',
                        pointBackgroundColor: 'rgb(153 27 27)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#000',
                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                    }]
                };
                var expense_config = {
                        type: 'radar',
                        data: expense_data,
                        options: {
                            elements: {
                                line: {
                                    borderWidth: 3
                                }
                            },
                            scale: {
                                r: {
                                    angleLines: {
                                        display: false
                                    },
                                    suggestedMin: 50,
                                    suggestedMax: 100,
                                    pointLabels: { // This section controls the font for the category labels
                                        font: {
                                            weight: 'light',
                                        },
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    display: true,
                                    labels: {
                                        color: '#000',
                                        font: {
                                            size: 16,
                                            weight: 'bold'
                                        }
                                    } 
                                }
                            },
                        },
                    };
                var myChart = new Chart(expense_ctx, expense_config);
                
            });
    });
</script>
{% endblock %}