{% extends 'expensetracker/base.html' %}

{% block title %}New Transaction{% endblock %}

{% block content %}
<div id="new-transaction" class="w-full md:w-4/5 lg:w-2/5 h-max mx-auto px-5 py-5 rounded-xl text-emerald-600">
    <h1 class="text-center mb-3 text-2xl font-semibold">Add a new transaction</h1>

    <form method="post" action=".">
        {% csrf_token %}
        <div >
            {{ form.as_p }}
        </div>
        <div class="mt-3 flex justify-center">
            <button class="py-2 px-6 bg-emerald-800 rounded-xl text-lg text-gray-300 font-semibold hover:bg-emerald-900">Add</button>
        </div>
    </form>
</div>
{% endblock %}