{% extends 'shopmart/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="lg:w-4/5 xl:w-3/5 my-6 mx-auto p-6 bg-cyan-950 rounded-xl">
    <h1 class="mb-6 text-3xl text-center">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, rerum? Voluptatem esse nesciunt est incidunt exercitationem, 
        laboriosam magni illum adipisci sint laudantium aut quibusdam maxime cum quae accusantium, pariatur corrupti. Lorem, ipsum dolor sit amet 
        consectetur adipisicing elit. Quisquam, temporibus quia? Consequuntur eius, quaerat optio quidem quos necessitatibus animi blanditiis possimus quis 
        error nemo eaque soluta sequi laudantium ut a.
    </p>

</div>
{% endblock %}