{% extends 'shopmart/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="py-12 bg-cyan-950 rounded-xl shadow-lg">
        <h1 class="mb-8 text-3xl font-semibold text-center">Latest products</h1>

        <div class="flex flex-wrap justify-center items-center gap-5 p-4">
            {% if products %}
                {% for product in products %}
                        <a href="{% url 'shopmart:detail' product.id %}" class="w-96 rounded-xl bg-cyan-950 hover:bg-cyan-900 hover:scale-105 transition duration-300 ease-in-out">

                            {% if product.image %}
                            <div id="product_{{ forloop.counter0 }}_image" class="w-full h-80 rounded-t-xl overflow-hidden">
                                <img src="{{ product.image.url }}" alt="{{product.name}}" class="w-full h-full object-cover">
                            </div>
                            {% else %}
                            <div id="product_{{ forloop.counter0 }}_image" class="w-2/5 h-60 bg-gray-800 rounded-t-xl flex items-center justify-center">
                                <span class="text-gray-500">No image available</span>
                            </div>
                            {% endif %}


                            <div class="p-6 bg-cyan-800 rounded-b-xl hover:bg-cyan-900">
                                <h2 class="text-2xl font-semibold text-cyan-500">{{ product.name }}</h2>
                                <p class="text-xl text-black">${{ product.price }}</p>
                            </div>

                        </a>
                {% endfor %}
            {% else %}
                <h2 class="text-center">No product found!!</h2>
            {% endif %}
        </div>
    </div>

    <div class="pagination mt-5">
        <span class="step-links flex justify-center gap-4">



            <a href="?page=1" class="px-2 py-2 rounded-lg bg-cyan-950 shadow-lg hover:scale-90 {% if not products.has_previous %} scale-90 bg-gray-700 pointer-events-none {% endif %}">&laquo; First</a>
            <a href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% endif %}" class="px-2 py-2 rounded-lg bg-cyan-950 shadow-lg hover:scale-90 {% if not products.has_previous %} scale-90 bg-gray-700 pointer-events-none {% endif %}">Previous</a>
            

            <span class="current px-5 py-2 rounded-full bg-cyan-950 shadow-lg">
                Page {{ products.number }} of {{ products.paginator.num_pages }}
            </span>
        
        
            <a href="{% if products.has_next %}?page={{ products.next_page_number }}{% endif %}" class="px-2 py-2 rounded-lg bg-cyan-950 hover:scale-90 shadow-lg {% if not products.has_next %} scale-90 bg-gray-700 pointer-events-none {% endif %}">Next</a>
            <a href="?page={{ products.paginator.num_pages }}" class="px-2 py-2 rounded-lg bg-cyan-950 hover:scale-90 shadow-lg {% if not products.has_next %} scale-90 bg-gray-700 pointer-events-none {% endif %}">Last &raquo;</a>


        </span>
    </div>

    <div class="mt-6 px-6 py-12 bg-cyan-950 rounded-xl shadow-lg">
        <h1 class="mb-12 text-3xl font-semibold text-center ">Categories</h1>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                    <div>
                            <div class="p-6 bg-cyan-900 rounded-xl">
                                <h2 class="text-2xl text-cyan-500 font-semibold">{{ category.name }}</h2>
                                <p class="text-black">{{ category.products.count }} products</p>
                            </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}